@import "@styles/settings/_settings";

.homeContainer {
  display: flex;
}

.checklist {
  list-style: none;
  padding: 0;
  margin: 0;
}

.radio {

  display: flex;
  align-items: center;
  margin: .5em 0;

  input:checked + span {
    background: $color-pink;
    border: solid 2px $color-pink;
  }

  span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 1.2em;
    height: 1.2em;
    background-color: white;
    border: solid 2px gray;
    border-radius: 99px;
    padding: .1em;
    margin-right: .4em;
  }

  svg {
    color: white;
    width: 100%;
  }

}

.sidebar {

  width: 20em;
  margin-left: 2em;

  [type="search"],
  [type="text"] {
    display: block;
    color: black;
    font-size: 1em;
    background: white;
    padding: .5em .8em;
    border: solid 2px gray;
    border-radius: .2em;
  }

}

.sidebarSection {

  margin-bottom: 1.5em;

  &:last-child {
    margin-bottom: 0;
  }

  h2 {
    font-size: 1.2em;
  }

}

.main {

}