// Pallete: https://coolors.co/f72585-7209b7-3a0ca3-4361ee-4cc9f0

$color-pink: rgba(247, 37, 133, 1);
$color-purple: rgba(114, 9, 183, 1);
$color-trypan-blue: rgba(58, 12, 163, 1);
$color-ultramarine-blue: rgba(67, 97, 238, 1);
$color-vivid-sky-blue: rgba(76, 201, 240, 1);